.App {
  width: 100%;
  height: 100vh; /* altura del navegador */
  padding-top: 10px;
  display: flex;  /* flex para que esté centrado con justify y align */
  flex-wrap: wrap;
  justify-content: center; /* horizontal */
  align-items: center;  /* vertical */
  font-family: atari;
  user-select: none;
  background-color: #141E27;
}

.contenedor-rot {
  width: 380px;
  height: auto;
  margin: 12px;
  padding: 3px 12px;
  border: 1px solid #49FF00;
  border-radius: 12px;
  text-align: center;
  background-color: #141E27;
}

/* .cipher => input  && .magic => button */
.cipher {
  padding: 7px;
  border-radius: 12px;
  color: #49FF00;
  background-color: #141E27;
  border: 1px solid #49FF00;
  width: 93%;
  font-family: atari;
  margin-bottom: 12px;
}

.cipher::placeholder {
  color: #49FF00;
}

.magic {
  display: block;
  margin: 0 auto;
  width: 93%;
  padding: 7px;
  border-radius: 12px;
  color: #141E27;
  background-color: #49FF00;
  border: 1px solid #49FF00;
  font-family: atari;
  transition: ease-in-out 0.3s;
}

.magic:hover {
    color: #49FF00;
    background-color: #141E27;
}

hr {
  margin: 12px;
  height: 0.3px;
  background-color: #49FF00;
  border: none;
}

.result {
  padding: 12px;
  font-weight: bold;
}